<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bytes & Pipelines</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

    <!-- Leaflet.js is globally defined as 'L' after this script is loaded -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>

<body>
    <h1>Bytes & Pipelines</h1>
    <h2>Current ISS Location</h2>
    <p>Latitude: <span id="latitude">Loading...</span></p>
    <p>Longitude: <span id="longitude">Loading...</span></p>
    <p>Altitude: <span id="altitude"></span></p>
    <p>Velocity: <span id="velocity"></span></p>
    <p>Visibility: <span id="visibility"></span></p> <!-- Daylight/Night info -->
    <div id="map" style="height: 400px;"></div>
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</body>
</html>